@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color: #f6f6f9;
    --Pink: hsl(322, 100%, 66%);
    --Very_Pale_Cyan: hsl(193, 100%, 96%);
    --Very_Dark_Cyan: hsl(192, 100%, 9%);
    --Grayish_Blue: hsl(208, 11%, 55%);
    --white_color: #fff;
    --text_color: #666;
    --box-shadow-color:#0000001f;
    
    --bd_radius: 2rem;
    --box_bd_radius: 1rem;
    
    --box-shadow: -2px 2px 20px 0 var(--box-shadow-color);
}

h1, h2, h3 {
    font-family: 'poppins', sans-serif;
}

h3 {
    font-size: 1.8em;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1em;
}

img {
    display: block;
    width: 100%;
}

.btn {
    background: var(--white_color);
    color: var(--text_color);
    border-radius: var(--bd_radius);
    padding: .4rem 2rem;
    box-shadow: var(--box-shadow);
    font-weight: 700;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    padding: 2% 6%;
}

.navbar img {
    width: 100px;
}

.navbar a {
    font-size: .88em;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/bg-hero-desktop.svg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: var(--Very_Pale_Cyan);
}

.header_btn {
    padding: .6rem 3rem;
}

.header_col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    width: 90%;
}

.header_col img {
    width: 700px;
}

.header_col h1 {
    font-weight: 600;
    margin-bottom: 2rem;
}

.header_col p {
    font-weight: 500;
    margin-bottom: 2rem;
}

.header_col .header_btn {
    background: var(--Pink);
    color: var(--white_color);
    box-shadow: none;
}

/*---------- Header Section Media Query ----------*/

@media(max-width: 700px) {
    .container {
        margin: 0 auto;
    }

    .navbar .btn {
        background: var(--white_color);
        color: var(--text_color);
        border-radius: var(--bd_radius);
        padding: .2rem 2rem;
        box-shadow: var(--box-shadow);
        font-weight: 700;
        align-items: center;
        font-size: .77em;
    }

    .header {
        background-image: url(images/bg-hero-mobile.svg);
    }

    .navbar {
        margin-bottom: 3rem;
    }

    .navbar .logo img {
        width: 100px;
    }

    .header_col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1em;
        flex-wrap: wrap;
        width: 80%;
    }

    .header_col p {
        margin-bottom: 3rem;
        line-height: 1.5;
    }

    .header_col .header_btn {
        margin-bottom: 1.5rem;
    }

    .header_col img {
        width: 350px;
        margin-top: 4rem;
    }
}

@media(max-width: 375px) {
    .container {
        margin-left: -.5rem;
    }

    .header_col {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header_col h1 {
        font-size: 1.2em;
    }

    .header_col p {
        font-size: .88em;
    }

    .header_col img {
        width: 300px;
    }
}


/*---------- Main Section ----------*/
.main_section {
    width: 90%;
    margin: 5% auto;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% auto;
    border-radius: var(--box_bd_radius);
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
}

.section img {
    width: 600px;
}

.section h3 {
    font-weight: 600;
    margin: 0 2rem;
    margin-bottom: 1rem;
}

.section p {
    color: var(--text_color);
    font-weight: 500;
    margin: 0 2rem;
}

/*---------- Main Section Media Query ----------*/
@media(max-width: 700px) {
    .main_section {
        width: 90%;
        margin: 5% auto;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section_1 {
        flex-direction: column-reverse;
    }

    .section img {
        width: 350px;
    }

    .section_col h3 {
        font-size: 1.8em;
        margin-top: 1.5rem;
        text-align: center;
    }

    .section_col p {
        font-size: .88em;
    }
}

@media(max-width: 375px) {
    .section {
        width: 90%;
        margin: 5% auto;
    }
    .section img {
        width: 200px;
    }

    .section_col h3 {
        font-size: 1em;
    }

    .section_col p {
        font-size: .77em;
    }
}

/*---------- Bottom Section ----------*/

.bottom_col {
    position: relative;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--box_bd_radius);
    width: 50%;
    margin: 0 auto;
    margin-bottom: -5rem;
    background-color: var(--white_color);
}

.bottom_col h2 {
    margin-bottom: 1.5rem;
}

.bottom_col .header_btn {
    background: var(--Pink);
    box-shadow: none;
    color: var(--white_color);
}

/*---------- Bottom Section Media query ----------*/
@media(max-width: 700px) {
    .bottom_col {
        padding: 2rem;
        width: 90%;
    }

    .bottom_col h2 {
        text-align: center;
        font-size: 1em;
    }

    .bottom_col .btn {
        font-weight: 600;
        font-size: .77em;
    }
}

@media(max-width: 375px) {
    .bottom_col {
        width: 80%;
        padding: 1.5rem;
    }

    .bottom_col h2 {
        font-size: .88em;
    }
}

/*---------- Footer ----------*/

.footer {
    background-color: var(--Very_Dark_Cyan);
    color: var(--white_color);
    width: 100%;
    padding: 5rem 0 3rem;
}

.footer .logo {
    width: 200px;
    padding: 2rem;
}

.footer_container {
    width: 90%;
    margin: 0 auto;
}

.footer_info {
    display: flex;
    align-items: center;
}

.footer_col {
    padding: 2rem 3.5rem;
}

.footer_col_1 {
    margin-top: -6rem;
}

.footer_col_3 {
    margin-top: -12rem;
}

.footer a {
    color: var(--white_color);
}

.contact {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding-bottom: 1rem;
}

.contact img {
    width: 30px;
    padding-right: 1rem;
    margin-top: .3rem;
}

.footer li {
    margin-bottom: 1.2rem;
}

.footer li a:hover {
    text-decoration: underline;
}

.footer i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid var(--white_color);
    border-radius: 50%;
}

.footer i:hover {
    color: var(--Pink);
    border: 1px solid var(--Pink);
}

footer .copyright {
    text-align: right;
    font-size: .77rem;
}

/*---------- Footer Media Query ----------*/
@media(max-width: 700px) {
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: .88em;
        margin: auto;
    }

    .footer .logo img {
        width: 100px;
        margin-bottom: -4rem;
        margin-left: -1rem;
    }

    .footer_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .footer_info {
        flex-direction: column;
        margin-top: -2rem;
    }

    .contact {
        align-items: flex-start;
        padding-bottom: 0;
    }

    .footer_col {
        align-items: flex-start;
        padding: 2.5rem 1rem;
        margin-bottom: 1rem;
    }

    .footer_col_1 ul li a {
        margin: 1rem -10rem 2rem -10rem;
        padding-top: 2rem;
    }

    .footer .footer_col_3 {
        margin-top: -5rem;
        margin-left: 7rem;
    }

    footer .copyright {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 8rem; 
        margin-top: -2rem;     
    }
}

@media(max-width: 375px) {
    .footer {
        font-size: .77em;
    }

    .footer .footer_col_3 {
        margin-left: 1rem;
    }

    .footer_col_1 ul li a {
        margin-left: -7.7rem;
    }

    footer .copyright {
        margin-left: 6rem;
        font-size: .66em;
    }
}
